.spm-container {
    position: absolute;
    top: 88rem;
    left: 0;
    width: 100%;
}

.spmLine, .spmLine2, .spmLine3 {
  margin-left: 5rem;
  margin-right: 5rem;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section1-hold, .section2-hold, .section3, .star-calc-hold, .agg {
  margin-left: 5rem;
  margin-right: 5rem;
}

.star-calc-hold {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}

.spm-pic {
  width: 31rem;
}

/*.review-hold {
  margin-top: 2rem;
}*/

.review-hold {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin: 20px;
    padding: 10px;
    
}

.review-columns-category {
  margin-left: 5rem;
  display: flex;
  justify-content: space-between;
}

.column-category {
  width: 45%; /* Adjust as needed */
}

.column-category-item {
  margin-top: 0.5rem;
  font-weight: bold; 
}

.review-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%; /* Adjust as needed */
}

.review-hold h3 {
    margin: 0;
    margin-left: 5rem;
    margin-top: 1rem;
    padding: 5px;
}

.review-hold p {
    margin: 0;
    margin-left: 8rem;
    padding: 5px;
}

/* Style for "show more" indication */
.show-more {
    color: blue;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}

.modal-box {
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  padding: 1.5rem;
  transition: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter 200ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 200rem;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  overflow-y: auto;
  overscroll-behavior: contain;
  overflow-x: hidden;
  width: 60rem !important;
  height:60rem;
  max-height: calc(100vh - 5em);
}

.modal-pic {
  width: 19rem;
}

/*.modal-hold {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
}*/

.modal-hold {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
    gap: 0.6rem;
    left: 24rem;
    top: 4rem;
}

.close-cal, .checkout-btn, .checkout-btn-after {
  background-color: #ff385c;
  height: 3.8rem;
  width: 12rem;
  transition: 400ms;
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin-top: 1rem;
  border-radius: 14px;
}
